#  https://help.github.com/en/articles/about-code-owners
#
# Global Owners
* @signalfx/gdi-TEAM-maintainers @signalfx/gdi-TEAM-approvers

.github/CODEOWNERS @signalfx/gdi-TEAM-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
