on:
  push: 
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  workflow_dispatch:

jobs:
  validate-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Markdown Lint check
        uses: DavidAnson/markdownlint-cli2-action@v21.0.0
        with:
          globs: '**/*.md'
      - name: lychee Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: -v -n "*.md" "**/*.md"
          fail: true
        if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}
