on:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.0
        with:
          args: -v -n "*.md" "**/*.md"
      - name: Create Issue From File
        uses: peter-evans/create-issue-from-file@v4.0.1
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
