on:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.4.1
        with:
          args: -v -n "*.md" "**/*.md"
      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v5.0.1
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
